<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only | learn session auth basics</title>
  </head>
  <body class="w-full min-h-[100vh] flex justify-center">
    <main
      class="flex flex-col justify-center items-center px-8 pt-16 pb-8 w-full md:w-[800px]"
    >
      <form
        class="border-2 border-gray-300 px-8 py-16 text-gray-800 flex flex-col items-center justify-center gap-6"
        action="/dashboard/delete/<%= storyId %>"
        method="post"
      >
        <h2 class="font-typewriter font-bold text-lg">
          Are you sure you want to delete
          <span class="border-b-2 border-green-500"><%= storyTitle %></span>
          story?
        </h2>
        <div class="flex items-center gap-6">
          <button
            type="submit"
            class="px-4 py-2 font-typewriter font-bold text-md bg-red-500 text-gray-100 border border-gray-100 hover:border-red-500 hover:bg-gray-100 hover:text-red-500"
          >
            Yes
          </button>
          <a
            href="/dashboard"
            class="px-4 py-2 font-typewriter font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500"
            >No</a
          >
        </div>
      </form>

      <%- include('../partials/footer') %>
    </main>
  </body>
</html>
