<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer type="module" src="/scripts/main.js"></script>
    <title>Members Only | learn session auth basics</title>
  </head>
  <body class="w-full min-h-[100vh] flex justify-center">
    <main
      class="flex flex-col justify-center items-center px-8 pt-16 pb-8 w-full md:w-[800px]"
    >
      <% if(correctCode) { %>
        <h2 class="font-typewriter text-2xl text-gray-600 mb-8">
          Code is CORRECT
        </h2>
        <p class="font-typewriter text-md text-gray-800">Congratulation, you are MEMBER now! Enjoy in additional features!
        </p>
      <% } else { %>
        <h2 class="font-typewriter text-2xl text-gray-600 mb-8">
          Code is INCORRECT
        </h2> 
        <p class="font-typewriter text-md text-gray-800">search for code and you will find crumbs
        </p>
      <% } %>

      <a
        href="/dashboard"
        class="my-8 font-typewriter underline text-green-500 hover:text-gray-600"
        >return to dashboard</a
      >

      <%- include('../partials/footer') %>
    </main>
  </body>
</html>
