<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only | learn session auth basics</title>
  </head>
  <body
    class="px-8 py-16 flex flex-col gap-8 items-center bg-gray-100 text-gray-600 font-sans"
  >
    <form action="/dashboard/delete/<%= storyId %>" method="post">
      <h2>Are you sure you want to delete "<%= storyTitle %>" story?</h2>
      <button type="submit">Yes</button>
      <a href="/dashboard">No</a>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
