<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only | learn session auth basics</title>
  </head>
  <body
    class="px-8 pt-16 pb-8 min-h-[100vh] flex flex-col items-center bg-gray-100 text-gray-600 font-sans"
  >
    <header>
      <nav>
        <ul>
          <li><a href="/stories">stories</a></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- list all massages -->
      <a href="/dashboard/new-story">create story</a>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
