<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer type="module" src="/scripts/main.js"></script>
    <title>Members Only | learn session auth basics</title>
  </head>
  <body
    class="px-8 pt-16 pb-8 min-h-[100vh] flex flex-col items-center bg-gray-100 text-gray-600 font-sans"
  >
    <%- include('../partials/header', {isAuth}) %>

    <% if(isAuth === false) {%>
      <%- include('../partials/page-info') %>
    <% } else { %>
      <section>
        <form id="search-form">
          <label for="search-bar">search</label>
          <input id="search-bar" type="search" class="border border-gray-400" />
          <button type="submit">▶️</button>
        </form>
        <div>
          <ul>
            <% for(let i = 0; i < stories.length; i += 1 ) { %>
              <%- include("../partials/story", {story: stories[i]}) %>
            <% } %>
          </ul>
        </div>
      </section>
    <% } %>

    <%- include('../partials/footer') %>

  </body>
</html>
