<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only | learn session auth basics</title>
  </head>
  <body
    class="px-8 py-16 flex flex-col gap-8 items-center bg-gray-100 text-gray-600 font-sans"
  >
    <form action="/login" method="post" class="flex flex-col items-center gap-3">
      <div class="space-y-3">
        <div>
          <div class="flex flex-col gap-2 text-md">
            <label for="username">username</label>
            <input value="<%= inputValues.username %>" type="text" name="username" id="username" class="bg-gray-100 outline-none border-b border-gray-400 px-2 focus:ring focus:ring-green-300"/>
          </div>
          <% if (errors.username) { %>
            <p class="text-red-500 text-sm"><%= errors.username %></p>
          <% } %>
        </div>
      </div>
  
      <div>
        <div class="flex flex-col gap-2 text-md">
          <label for="password">password</label>
          <input value="<%= inputValues.password %>" type="password" name="password" id="password" class="bg-gray-100 outline-none border-b border-gray-400 px-2 focus:ring focus:ring-green-300"/>
        </div>
        <% if (errors.password) { %>
          <p class="text-red-500 text-sm"><%= errors.password %></p>
        <% } %>
      </div>

      </div>
    <button type="submit" class="mt-8 px-4 py-2 font-display font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500">login</button>
    </form>
    <a href="/register" class="underline text-green-500 hover:text-gray-600">don't have account, sigh up free</a>

  </body>
</html>
