<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only | learn session auth basics</title>
  </head>
  <body
    class="px-8 py-16 flex flex-col items-center bg-gray-100 text-gray-600 font-sans"
  >
    <h1 class="font-display font-bold uppercase text-2xl">404</h1>
    <h2>This is not the page you're looking for</h2>
    <p>It appears the route you seek doesn't exist.</p>

    <a href="/" class="underline text-green-500 hover:text-gray-600"
      >home page</a
    >
  </body>
</html>
