<footer class="mt-auto text-center py-3 text-sm">
  <span>created by</span>
  <a
    class="font-bold"
    href="https://github.com/mojotron/members-only"
    target="_blank"
    rel="noopener noreferrer"
    >@mojotron</a
  >
</footer>
