<footer class="mt-auto text-center py-2 bg-pink">
  <p class="text-white text-sm">
    <span>created by</span>
    <a
      class="font-bold hover:text-black"
      href="https://github.com/mojotron/members-only"
      target="_blank"
      rel="noopener noreferrer"
      >@mojotron</a
    >
  </p>
</footer>
