<!--
  params: {
    errors: string[]
  }
-->

<ul class="bg-errorBg p-2 text-errorText list-disc">
  <% errors.forEach((error) => { %>
  <!--  -->
  <li class="ml-2"><%- error %></li>
  <!--  -->
  <% }) %>
</ul>
