<!-- 
params: {
  isAuth: boolean
  display: text of the link
}
-->

<header
  class="py-2 px-4 bg-pink flex flex-col items-center sm:flex-row sm:items-center sm:justify-between"
>
  <h1 class="font-display font-bold text-3xl text-white">Members Only</h1>

  <div
    class="flex flex-col gap-2 pb-4 md:pb-1 md:flex-row md:justify-center md:items-center"
  >
    <nav class="text-white">
      <ul class="flex items-center gap-2">
        <a class="hover:text-gray-400" href="/"><li>home</li></a>
        <a class="hover:text-gray-400" href="/messages"><li>messages</li></a>
        <a class="hover:text-gray-400" href="/about"><li>about</li></a>
      </ul>
    </nav>

    <div class="flex justify-evenly">
      <% if(isAuth) { %>
      <!-- DISPLAY LOGOUT OPTION -->
      <%- include("cta-link", {path: "/log-out",display: "logout"}) %>
      <!--  -->
      <% } else { %>
      <!-- DISPLAY LOGIN SIGNUP OPTION -->
      <%- include("cta-link", {path: "/log-in",display: "login"}) %>
      <!--  -->
      <%- include("cta-link", {path: "/sign-up",display: "signup"}) %>
      <!--  -->
      <% } %>
    </div>
  </div>
</header>
