<!-- {isAuth: boolean }  -->
<header class="flex items-center justify-center gap-16 w-full mb-8">
  <nav class="w-full flex flex-col sm:flex-row gap-4 justify-between items-center font-typewriter">
    <a href="/">
      <h1 class="font-typewriter font-bold text-4xl text-gray-800">Members <span class="border-b-2 border-green-500">Only</span></h1>
    </a>

    <ul class="flex items-center gap-2">
        <% if(isAuth === false) { %>
          <li>
            <a href="/login" class="px-4 py-2 font-typewriter font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500">login</a>
          </li>
          <li>
            <a href="/register" class="px-4 py-2 font-typewriter font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500">register</a>
          </li>
        <% } else { %>
          <% if(isMember === false) {%>
            <li>
              <a class="px-4 py-2 font-typewriter font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500" href="/member">became member</a>
            </li>
          <% } %>
          <li>
            <a class="px-2 py-0.5 hover:underline hover:bg-gray-600 hover:text-gray-100" href="/">stories</a>
          </li>
          <li>
            <a class="px-2 py-0.5 hover:underline hover:bg-gray-600 hover:text-gray-100" href="/dashboard">dashboard</a>
          </li>
          <li>
            <a class="px-2 py-0.5 hover:underline hover:bg-gray-600 hover:text-gray-100" href="/logout">logout</a>
          </li>
        <% } %>
    </ul>
  </nav>
</header>