<header class="flex items-center justify-center gap-16 w-full mb-8">
  <a href="/">
    <h1 class="font-display font-bold text-4xl">Members Only</h1>
  </a>
  <% if(loginBtn === true) {%>
    <a href="/login" class="px-4 py-2 font-display font-bold text-md bg-green-500 text-gray-100 border border-gray-100 hover:border-green-500 hover:bg-gray-100 hover:text-green-500">login</a>
  <% } %>
</header>