<section class="flex flex-col font-typewriter text-gray-800">
  <h2 class="text-2xl">create and hare short stories with other users</h2>
  <div class="p-4 space-y-2 text-md">
    <p>to start create account and login</p>
    <p>search between 100 stories or create your own</p>
    <p>1000 user created already created account</p>
  </div>
  <div>
    <p>
      This project is part of
      <a
        class="test-sm text-gray-600 underline hover:text-gray-800 hover:no-underline"
        href="https://www.theodinproject.com/lessons/nodejs-members-only"
        target="_blank"
        rel="noreferrer noopener"
        >The Odin Project</a
      >
      Curriculum, learning Node.js and user authentication
    </p>
  </div>
</section>
