<section class="flex flex-col gap-6 font-typewriter text-gray-800">
  <div class="space-y-2 text-lg">
    <p>create short story and share it with other users</p>
    <p>to see who wrote a story you need become a member</p>
  </div>

  <div class="p-4 space-y-2 text-md">
    <h3></h3>
    <p>to start create account and login</p>
    <p>already <%= storyCount %> stories are created</p>
    <p><%= userCount %> users created already created account</p>
    <p>answer a secret question and become a member</p>
  </div>

  <div class="text-sm">
    <p>
      This project is part of
      <a
        class="test-sm text-gray-600 underline hover:text-gray-800 hover:no-underline"
        href="https://www.theodinproject.com/lessons/nodejs-members-only"
        target="_blank"
        rel="noreferrer noopener"
        >The Odin Project</a
      >
      Curriculum, learning Node.js and user authentication
    </p>
  </div>
</section>
