<section>
  <h2>create and share short stories with other users</h2>
  <div>
    <p>to start create account and login</p>
    <p>search between 100 stories or create your own</p>
    <p>1000 user created already created account</p>
  </div>
  <div>
    <p>
      this project is part of The Odin Project Curriculum, learning Node.js and
      user authentication
    </p>
  </div>
</section>
